In [1]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in /Users/jaredstump/anaconda3/lib/python3.11/site-packages (0.5.0)
Requirement already satisfied: prettytable in /Users/jaredstump/anaconda3/lib/python3.11/site-packages (from ipython-sql) (3.9.0)
Requirement already satisfied: ipython in /Users/jaredstump/anaconda3/lib/python3.11/site-packages (from ipython-sql) (8.15.0)
Requirement already satisfied: sqlalchemy>=2.0 in /Users/jaredstump/anaconda3/lib/python3.11/site-packages (from ipython-sql) (2.0.21)
Requirement already satisfied: sqlparse in /Users/jaredstump/anaconda3/lib/python3.11/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in /Users/jaredstump/anaconda3/lib/python3.11/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /Users/jaredstump/anaconda3/lib/python3.11/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /Users/jaredstump/anaconda3/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: backcall in /Users/jaredstump/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in /Users/jaredstump/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /Users/jaredstump/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in /Users/jaredstump/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in /Users/jaredstump/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /Users/jaredstump/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in /Users/jaredstump/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /Users/jaredstump/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in /Users/jaredstump/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: pexpect>4.3 in /Users/jaredstump/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: appnope in /Users/jaredstump/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.1.2)
Requirement already satisfied: wcwidth in /Users/jaredstump/anaconda3/lib/python3.11/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/jaredstump/anaconda3/lib/python3.11/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/jaredstump/anaconda3/lib/python3.11/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /Users/jaredstump/anaconda3/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /Users/jaredstump/anaconda3/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /Users/jaredstump/anaconda3/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
%load_ext sql

In [3]:
import csv, sqlite3
con = sqlite3.connect('my_data1.db')
cur = con.cursor()

In [4]:
%sql sqlite:///my_data1.db

In [5]:
import pandas as pd
df = pd.read_csv('Spacex.csv')
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False, method="multi")

101

In [7]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

In [ ]:
#Task 1
#Display the names of the unique launch sites in the space mission

In [11]:
%%sql
SELECT DISTINCT("Launch_Site")
FROM SPACEXTBL

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

In [ ]:
#Task 2
#Display 5 records where launch sites begin with the string 'CCA'

In [9]:
%%sql
SELECT *
FROM SPACEXTBL
WHERE "Launch_Site" LIKE 'CCA%'
LIMIT 5

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

In [ ]:
#Task 3
#Display the total payload mass carried by boosters launched by NASA (CRS)

In [16]:
%%sql
SELECT "Customer", SUM(PAYLOAD_MASS__KG_)
FROM SPACEXTBL
WHERE "Customer" LIKE "NASA (CRS)"
GROUP BY "Customer"

 * sqlite:///my_data1.db
Done.

[('NASA (CRS)', 45596)]

In [ ]:
#Task 4
#Display average payload mass carried by booster version F9 v1.1

In [18]:
%%sql
SELECT "Booster_Version", AVG(PAYLOAD_MASS__KG_)
FROM SPACEXTBL
WHERE "Booster_Version" LIKE "F9 v1.1%"
GROUP BY "Booster_Version"

 * sqlite:///my_data1.db
Done.

[('F9 v1.1', 2928.4),
 ('F9 v1.1  B1003', 500.0),
 ('F9 v1.1 B1010', 2216.0),
 ('F9 v1.1 B1011', 4428.0),
 ('F9 v1.1 B1012', 2395.0),
 ('F9 v1.1 B1013', 570.0),
 ('F9 v1.1 B1014', 4159.0),
 ('F9 v1.1 B1015', 1898.0),
 ('F9 v1.1 B1016', 4707.0),
 ('F9 v1.1 B1017', 553.0),
 ('F9 v1.1 B1018', 1952.0)]

In [ ]:
#Tast 5
#List the date when the first succesful landing outcome in ground pad was acheived.

In [25]:
%%sql
SELECT MIN("Date") as Date, "Landing_Outcome"
FROM SPACEXTBL
WHERE "Landing_Outcome" LIKE "Success%"

 * sqlite:///my_data1.db
Done.

[('2015-12-22', 'Success (ground pad)')]

In [26]:
#Task 6
#List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [29]:
%%sql
SELECT "Booster_Version", PAYLOAD_MASS__KG_, "Landing_Outcome"
FROM SPACEXTBL
WHERE "Landing_Outcome" LIKE "Success (drone ship)"
AND PAYLOAD_MASS__KG_ BETWEEN 4000 AND 6000

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022', 4696, 'Success (drone ship)'),
 ('F9 FT B1026', 4600, 'Success (drone ship)'),
 ('F9 FT  B1021.2', 5300, 'Success (drone ship)'),
 ('F9 FT  B1031.2', 5200, 'Success (drone ship)')]

In [ ]:
#Task 7
#List the total number of successful and failure mission outcomes

In [33]:
%%sql
SELECT COUNT(CASE WHEN "Mission_Outcome" LIKE "%Success%" THEN 1 END) AS SUCCESS, 
COUNT(CASE WHEN "Mission_Outcome" LIKE "%Failure%" THEN 1 END) AS FAILURE
FROM SPACEXTBL

 * sqlite:///my_data1.db
Done.

[(100, 1)]

In [36]:
#Task 8
#List the names of the booster_versions which have carried the maximum payload mass. 
#Use a subquery

In [37]:
%%sql
SELECT "Booster_Version", PAYLOAD_MASS__KG_
FROM SPACEXTBL
WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTBL)

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4', 15600),
 ('F9 B5 B1049.4', 15600),
 ('F9 B5 B1051.3', 15600),
 ('F9 B5 B1056.4', 15600),
 ('F9 B5 B1048.5', 15600),
 ('F9 B5 B1051.4', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1060.2 ', 15600),
 ('F9 B5 B1058.3 ', 15600),
 ('F9 B5 B1051.6', 15600),
 ('F9 B5 B1060.3', 15600),
 ('F9 B5 B1049.7 ', 15600)]

In [ ]:
#Task 9
#List the records which will display the month names, 
#failure landing_outcomes in drone ship ,booster versions, 
#launch_site for the months in year 2015.

In [41]:
%%sql
SELECT substr(Date,6,2), "Landing_Outcome", "Booster_Version", "Launch_Site"
FROM SPACEXTBL
WHERE substr(Date,0,5) LIKE '2015' AND "Landing_Outcome" LIKE "%Failure (drone ship)%"

 * sqlite:///my_data1.db
Done.

[('01', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('04', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

In [ ]:
#Task 10
#Rank the count of landing outcomes
#(such as Failure (drone ship) or Success (ground pad)) 
#between the date 2010-06-04 and 2017-03-20, in descending order.

In [53]:
%%sql
SELECT RANK() OVER (ORDER BY COUNT("Landing_Outcome") DESC) AS RANK, 
"Landing_Outcome", COUNT("Landing_Outcome") AS COUNT_OF_OUTCOMES
FROM SPACEXTBL
WHERE "Date" >= '2010-06-04' AND "Date" <= '2017-03-20'
GROUP BY "Landing_Outcome"

 * sqlite:///my_data1.db
Done.

[(1, 'No attempt', 10),
 (2, 'Success (drone ship)', 5),
 (2, 'Failure (drone ship)', 5),
 (4, 'Success (ground pad)', 3),
 (4, 'Controlled (ocean)', 3),
 (6, 'Uncontrolled (ocean)', 2),
 (6, 'Failure (parachute)', 2),
 (8, 'Precluded (drone ship)', 1)]